<!DOCTYPE html>
<html>

<head>
    <title>Consultas API de Red Eléctrica</title>
    <style>
        .input-field {
            margin: 10px 0;
        }
    </style>
    <script>
        window.onload = function() {
            document.getElementById('api-query-form').addEventListener('submit', function(event) {
                event.preventDefault();
                const data = {
                    'start_date': document.getElementById('start_date').value,
                    'end_date': document.getElementById('end_date').value,
                    'style': document.getElementById('style').value,
                    'aggregate': document.getElementById('aggregate').value
                };

                const params = new URLSearchParams(data).toString();
                const url = `http://127.0.0.1:5000/get_demand/query?${params}`;
                window.location.href = url;

            });
        }
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <h1>Consultas API de Red Eléctrica</h1>

    <form id="api-query-form">
        <div class="input-field">
            <label for="start_date">Fecha inicio:</label>
            <input type="date" id="start_date" name="start_date" required>
        </div>

        <div class="input-field">
            <label for="end_date">Fecha fin:</label>
            <input type="date" id="end_date" name="end_date" required>
        </div>

        <div class="input-field">
            <label for="style">Estilo de gráfico:</label>
            <select id="style" name="style" required>
                <option value="">--Seleccione el estilo--</option>
                <option value="line">Línea</option>
                <option value="bar">Barras</option>
            </select>
        </div>

        <div class="input-field">
            <label for="aggregate">Agregado temporal (número entero de 0 a 24):</label>
            <input type="number" id="aggregate" name="aggregate" min="0" max="24" required>
        </div>

        <input type="submit" value="Realizar consulta">
    </form>
    <p id="url-display"></p>
</body>
</html>